* {
  box-sizing: border-box;
  // font-family: ‘SUIT’, sans-serif;
  // font-family: ‘SUIT Variable’, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Serif+KR:wght@400;900&display=swap');

::-moz-selection {
  background: #ffc13c;
  color: #000;
}

::selection {
  background: #ffc13c;
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 0;
}

// ::-webkit-scrollbar-thumb {
//   background-color: #ffc13c;
//   background-clip: padding-box;
//   border: 2px solid transparent;
//   border-radius: 100px;
//   box-shadow: inset 0px 0px 5px white;
// }
// ::-webkit-scrollbar-track {
//   background-color: white;
// }

body {
  background-image: url(/img/bg.png);
  height: 100%;
  width: 100vw;
  // background-size:contain;
}

// 모바일 안보이게 하기
.homeMobileWrap {
  display: none;
}

// header
header {
  width: 100%;
  height: 50px;
  background-color: white;
  font-family: 'timmer';
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.11), 0 3px 15px rgba(0, 0, 0, 0.11);

  .header {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  li {
    font-size: 0.82rem;
  }

  img {
    width: 30px;
  }
}

// 모바일 인덱스
.MoIndex img {
  width: 100%;
  padding: 24px;
}

// PC홈
.homePCWrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'timmer';

  .home-left {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .left-stamp {
      width: 90%;
      margin: auto;

      li:hover {
        transition: all 0.4s;
        transform: rotate(365deg);
      }

      img {
        padding: 10px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .left-stamping {
      width: 280px;
      position: relative;
      right: -20px;
      top: 30px;
      // 위에거 translate로 바꿔야 할듯함
      z-index: 5;
    }
  }

  .home-middle {
    width: 900px;
    display: flex;
    position: relative; //mascot 컨텐츠 부모요소
    flex-direction: column;
    align-items: center;

    .middle-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      .row-ac1 {
        transform: rotate(-2deg);
        position: relative;
        width: 700px;

        img:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s linear;
        }
      }

      .row-ac1:hover img:nth-child(2) {
        opacity: 1;
      }

      .row-ac2 {
        transform: rotate(1deg);
        position: relative;
        width: 500px;

        img:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s linear;
        }
      }

      .row-ac2:hover img:nth-child(2) {
        opacity: 1;
      }
      .row-ac2:hover img:nth-child(1) {
        opacity: 0;
      }
    }

    .middle-row li {
      padding: 16px 2px 16px 8px;
    }
  }

  // ---------- 이 밑으론 마스코트

  .middle-row-mascot {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 80%;

    li.leftMascot {
      width: 190px;
    }

    li.middleMascot {
      width: 146px;
      position: absolute;
      bottom: 0;
      left: 15%;
      z-index: 5;
    }

    li.rightMascot {
      width: 200px;
      position: relative;
      left: 10%;
      transform: translateY(10px);
    }
  }

  //  ---------

  .home-right {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;

    .right-twitter {
      width: 30%;
    }

    .right-kirring {
      width: 100%;
      margin: 8px 0 30px;
    }

    .right-search {
      width: 100%;
      position: relative;
      top: 20px;
      z-index: 5;
    }

    .right-newspaper {
      width: 150%;
      position: relative;
      top: -40px;
    }
  }
  img {
    width: 100%;
  }
}

// 404페이지

.Custom404-Wrap {
  width: 700px;
  margin: 140px auto 0;
  background-color: white;
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  line-height: 1.5;

  h1 {
    font-size: 2rem;

    padding: 1.8rem 0;
  }

  .Custom404-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;

    p {
      width: 300px;
      color: #666;
      font-size: 1.2rem;
    }
    img {
      width: 200px;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .homePCWrap {
    display: none;
  }

  .homeMobileWrap {
    display: flex;
    justify-content: center;
    padding: 7rem 0 10rem;

    li {
      max-width: 400px;
      min-width: 300px;
      width: 90%;
      transform: translatex(8px);
    }

    img {
      width: 100%;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 550px) {
  .Custom404-Wrap {
    width: 100%;
    padding: 2rem;
    margin: auto;

    div.Custom404-row {
      flex-direction: column !important;
      p {
        font-size: 1.1rem;
      }
    }
    img {
      padding: 0 0 2rem;
    }
    h1 {
      font-size: 1.8rem;
    }
  }
}

.small {
  font-size: 86%;
  color: #666;
}

.bold {
  font-weight: 900;
  color: #bf6a0e;
}

.title {
  font-size: 1.8rem;
  font-weight: 900;
  color: #bf6a0e;
  line-height: 3;
  font-family: 'Noto Serif KR', serif;
  border-bottom: 1px solid #3a1000;
}
